<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <title>Spring Security Example</title>
        
        <link href="../static/css/gum.css" th:href="@{css/gum.css}" rel="stylesheet" media="screen"/>
        
         <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
 
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
        
    </head>
    <body>
    <div class="container">
    <div class="jumbotron">
    
    <img src="../static/images/space-header.jpg" width="1000"
             th:src="@{images/space-header.jpg}"/>
    
        <h1>Welcome to the GUM!</h1>
        (Game User Manager)

        <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
        <p><a th:href="@{/about}">About</a></p>    
        </div>
</div>
    </body>
</html>